/*.loader {*/
/*    position: relative;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    z-index: 100;*/
/*}*/

/***********STYLES FOR LEFT NAV**************/

.leftNav{
    width: 310px;
    height: 100vh;
    padding: 40px;
    position: fixed;
    z-index: 2;

    background: #FFFFFF;
    box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 0.05);
}

.leftNav img {
    width: 60%;
    margin-bottom: 20px;
}

.text-uppercase{
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}

a{
    transition: 0.7s;
}

a:hover, a:active, a:focus{
    color: #1D79AB;
    text-decoration: underline 1px solid #1D79AB;
    text-underline-offset: 3px;
    transition: 0.7s;
}


/***********STYLES FOR FIRST NAV**************/

.first-nav, .location, .block, .icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-nav img {
    width: 20px;
    margin: 0;
}

.block{
    width: 50%;
}

.location img {
    width: 13px;
    margin: 0 4px 0 0;
}


.icons{
    gap: 10px;
}


/***********STYLES FOR SECOND NAV**************/

.secondNav{
    border-bottom: 1px solid #F4F6F6;
    border-top: 1px solid #F4F6F6;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.secondNav > .column > a:hover, .secondNav > .column > a:focus {
    text-decoration: none;
    color: black;
}

.phone{
    display: flex;
    gap: 5px;
}

.cart{
    display: flex;
    gap: 22px;
    align-items: center;
}

input{
    background: #F3F3F3;
    border: 0.5px solid #B4B4B4;
    border-radius: 5px;
    padding: 6px 20px 6px 20px;
    width: 450px;
}

form{
    position: relative;
    align-self: center;
}

.search-img{
    position: absolute;
    top: 7px;
    left: 410px;
}


/***********STYLES FOR OFFER**************/

.offer{
    background: url("../assets/background.png") no-repeat;
    background-size: cover;
    height: 310px;
    position: relative;
}

.offer .block {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    padding: 77px 0 0 66px;
}

.btn-white{
    border: 1px solid #FDFDFD;
    border-radius: 15px;
    background: none;
    padding: 10px 50px;
    transition: 0.7s;
}

.btn-white:hover{
    background: white;
    text-decoration: none;
}

.offer a:hover {
    color: #1D79AB !important;
    text-decoration: none;
}

.offer a:visited {
    color: white;
}

.bubble1{
    position: absolute;
    top: 25px;
    left: 1020px;
    width: 100px;
}

.bubble2{
    position: absolute;
    top: -35px;
    left: 950px;
    width: 70px;
}


/*********** STYLES FOR CATEGORIES**************/
.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-top: 40px;
    gap: 30px;
}

.categories .bold {
    display: block;
    width: 150px;
    color: black;
}

.category1, .category2, .category3, .category4, .category5, .category6, .category7, .category8, .category9, .category10, .category11 {
    width: 30%;
    margin-bottom: 40px;
    height: 171px;
    background-size: cover;
    padding: 32px;
}

.category1 {
    background: url("../assets/1.png") no-repeat;
}

.category2 {
    background: url("../assets/2.png") no-repeat;
}

.category3 {
    background: url("../assets/3.png") no-repeat;
}

.category4 {
    background: url("../assets/4.png") no-repeat;
}

.category5 {
    background: url("../assets/5.png") no-repeat;
}

.category6 {
    background: url("../assets/6.png") no-repeat;
}

.category7 {
    background: url("../assets/7.png") no-repeat;
}

.category8 {
    background: url("../assets/8.png") no-repeat;
}

.category9 {
    background: url("../assets/9.png") no-repeat;
}

.category10 {
    background: url("../assets/10.png") no-repeat;
}

.category11 {
    background: url("../assets/11.png") no-repeat;
}


/*********** STYLES FOR SLIDERS **************/
.sliders{
    background-color: #EEEFF0;
}

.btn-row{
    display: flex;
    gap: 5px;
    margin-bottom: 60px;
}

.btn-shadow {
    display: block;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    color: black;
    width: 40%;
    height: 60px;
    text-align: center;
    padding-top: 22px;
}

.btn-shadow:hover, .btn-shadow:focus{
    border: 3px solid #1DA7DF;
    color: #1DA7DF;
    transition: 0s;
    text-decoration: none;
    padding-top: 20px;
}

/***********  STYLES FOR CARD  **************/

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
    min-height: 336px;

    gap: 20px;

    /*filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
    background: #FFFFFF;
    border-radius: 10px;
}



.imgProduct > img{
    width: 100%;
    min-height: 160px;
    background-color: #1b6d85;
}


.btn-backet{
    background-color: #EEEFF0;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 15px;
}

.sale{
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color: #B72024;
    text-align: center;
    padding-top: 7px;

    top: 0px;
    left: 230px;
}

/***********   STYLES FOR PARTNERS   **************/
.partners{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners p {
    width: 50%;
    text-align: center;
}

.swiper-partners .swiper-slide{
    color: white;
    height: 100px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.swiper-pagination{
    /*margin-top: 100px !important;*/
    /*    position: absolute !important;*/
    /*bottom: -1px !important;*/
}

.swiper-button-next, .swiper-button-prev{

}

:root {
    --swiper-theme-color: #1DA7DF !important;
    --swiper-navigation-size: 20px !important;
}

/***********   STYLES FOR SUBSCRIBE   **************/
.subscribe{
    display: flex;
    padding: 35px;
    gap: 20px;
    position: relative;
    z-index: 20;
}

.subscribe .block {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 37%;
}

.subscribe input {
    background: white;
    padding: 12px 20px ;
    width: 400px;
}

.subscribe-form button{
    margin-left: 20px;
    padding: 12px 35px;
    border: 1px solid white;
    border-radius: 5px;
}


/***********   STYLES FOR FOOTER   **************/
.footer {
    background: #232323;
    position: relative;
    z-index: 20;
}

.footer > .block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer-low-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/***********   STYLES FOR CATEGORIES PAGES   **************/

.categoryDetail{
    min-height: 70vh;
}

.categoryDetail .card{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.filters {
    display: flex;
    gap: 40px;
    justify-content: end;
}

.filters > .row {
    gap: 20px;
}

.one{
    width: 30%;
}

.two{
    width: 300px;
}

.filter-count {
    width: 20%;
    padding: 3px 5px;
    text-align: center;
}

.filter-sort{
    width: 200px;
    padding: 3px 20px;
    /*position: relative;*/
}

.sort-img{
    position: absolute;
    top: 0px;
    left: 640px;
}

.back{
    display: flex;
    gap: 10px;
}

.back:hover, .showMore:hover{
    text-decoration: none;
    color: black;
    cursor: pointer;
}


.products{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.products > .card{
    width: 23%;
}

/***********   STYLES FOR PRODUCT PAGES   **************/

.product-block {
    gap: 64px;
    align-items: start;
}

.product-block > img {
    width: 40%;
}

.btn-addToBasket {
    color: #1C79AB;
    padding: 10px 50px;
    border: 1px solid #1C79AB;
    border-radius: 15px;
    transition: 0.7s;
    text-align: center;
}

.logout{
    padding: 5px 20px;
}

.btn-addToBasket:hover {
    color: white;
    background-color: #1C79AB;
}

/***********   STYLES FOR ENTER PAGES   **************/
.whiteBlock{
    background: url("../assets/enterBlock.png") no-repeat;
    height: 81vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whiteBlock > div {
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 40px 0;
    width: 50%;
}

.whiteBlock form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whiteBlock label{
    margin-bottom: 10px;
}

.whiteBlock .btn{
    text-align: center;
}

.whiteBlock .btn:hover{
    text-decoration: underline;
}

.column{
    display: flex;
    flex-direction: column;
}

.whiteBlock h1 {
    text-align: center;
}

.whiteBlock .btn-addToBasket{
    margin-left: 120px;
}

.reg form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 70px;
}

.reg input{
    width: 270px;
}

.reg .btn-addToBasket {
    margin: 0;
}

/***********   STYLES FOR MODAL BACK CALL   **************/

.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
}

.card >.modal {
    top: -295px;
    left: -640px;
    width: 100vw - 310px;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal_content {
    padding: 20px 40px;
    border-radius: 15px;
    background-color: white;
}

.modalBackCall{
    width: 100%;
}

.modalBackCall label{
    margin-bottom: 10px;
}


/***********   STYLES FOR CART PAGE   **************/

.cartLine {
    align-items: start;
    padding: 40px 140px 40px;
    border-bottom: 1px solid #CACACA;
}

.cartLine .nameProd{
    width: 50%;
}

.row-end{
    display: flex;
    justify-content: end;
}

.total {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 140px;
}